// {{ ansible_managed }}

acl trusted {
{% for network in acl %}
    {{ network }};
{% endfor %}
};

options {
    directory "{{ cache_directory }}";

    recursion {{ recursion }};
    allow-recursion { 
        localhost; 
        trusted; 
    };

    forwarders {
    {% for forwarder in forwarders %}
        {{ forwarder }};
    {% endfor %}
    };

{% if dnssec_enable %}
    dnssec-enable yes;
    dnssec-validation auto;
{% endif %}

{% if rate_limit_enabled %}
    rate-limit {
        responses-per-second {{ rate_limit_responses_per_second }};
        window {{ rate_limit_window }};
    };
{% endif %}

    auth-nxdomain no;    # conform to RFC1035
    listen-on { any; };
    listen-on-v6 { any; };
};
