; {{ ansible_managed }}

$TTL    604800
@       IN      SOA     {{ groups['dns'] | map('extract', hostvars) | selectattr('dns_role', 'eq', 'master') | map(attribute='ansible_hostname') | first }}.{{ zones.forwards }}. admin.{{ zones.forwards }}. (
                        {{ ansible_date_time.epoch }}        ; Serial
                        {{ zone_settings.refresh }}          ; Refresh
                        {{ zone_settings.retry }}            ; Retry
                        {{ zone_settings.expire }}           ; Expire
                        {{ zone_settings.ttl }} )            ; Negative Cache TTL



; NS servers
{% for host in groups['dns'] %}
@                      IN               NS             {{ hostvars[host]['inventory_hostname_short'] }}.{{ zones.forwards }}.
{% endfor %}


; A records
{% for host in groups['all'] %}
{{ host }}             IN                A             {{ hostvars[host]['ansible_host'] }}
{% endfor %}

{% if cname is defined %}
; CNAME records
{% for item in cname %}
{{ item.name }}         IN                CNAME         {{ item.target }}.{{ zones.forwards }}.
{% endfor %}
{% endif %}
