; {{ ansible_managed }}

$TTL    604800
@       IN      SOA     {{ groups['dns'] | map('extract', hostvars) | selectattr('dns_role', 'eq', 'master') | map(attribute='ansible_hostname') | first }}.{{ zones.forwards }}. admin.{{ zones.forwards }}. (
                        {{ ansible_date_time.epoch }}        ; Serial
                        {{ zone_settings.refresh }}          ; Refresh
                        {{ zone_settings.retry }}            ; Retry
                        {{ zone_settings.expire }}           ; Expire
                        {{ zone_settings.ttl }} )            ; Negative Cache TTL



; NS servers
{% for host in groups['dns'] %}
@                      IN               NS             {{ hostvars[host]['inventory_hostname_short'] }}.{{ zones.forwards }}.
{% endfor %}


; A records
{% for host in groups['dns'] %}
{{ host }}             IN                A             {{ hostvars[host]['ansible_host'] }}
{% endfor %}

{% if dns_records.a_records is defined and dns_records.a_records | length > 0 %}
; Custom A records
{% for record in dns_records.a_records %}
{{ record.name }}      IN                A             {{ record.ip }}
{% endfor %}
{% endif %}

{% if cname is defined %}
; CNAME records
{% for item in cname %}
{{ item.name }}         IN                CNAME         {{ item.target }}.{{ zones.forwards }}.
{% endfor %}
{% endif %}

{% if dns_records.mx_records is defined and dns_records.mx_records | length > 0 %}
; MX records
{% for record in dns_records.mx_records %}
@                       IN                MX            {{ record.priority }} {{ record.host }}
{% endfor %}
{% endif %}

{% if dns_records.txt_records is defined and dns_records.txt_records | length > 0 %}
; TXT records
{% for record in dns_records.txt_records %}
{{ record.name }}       IN                TXT           "{{ record.value }}"
{% endfor %}
{% endif %}

{% if dns_records.srv_records is defined and dns_records.srv_records | length > 0 %}
; SRV records
{% for record in dns_records.srv_records %}
{{ record.name }}       IN                SRV           {{ record.priority }} {{ record.weight }} {{ record.port }} {{ record.target }}
{% endfor %}
{% endif %}
